@import "colors.css";

* {
	border: none;
	border-radius: 10px;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-weight: bold;
	/*  font-family: "monospace" ; */
	/* font-weight: 600; */
	font-size: 16px;
	min-height: 20px;
	transition: none;
}

window#waybar {
	border-radius: 0px;
	background: @background;
}

tooltip {
	background: @surface;
	color: @text;
}

/* window#waybar.empty {
	background: transparent;
} */

/* LEFT SIDE */
/* LEFT SIDE */
/* LEFT SIDE */

#custom-menu {
	margin: 4px 4px 4px 4px;
	padding: 0px 11px 0px 8px;
	color: @text;
	background: @surface;
}

#workspaces {
	margin-top: 4px;
	/* margin-left: 12px; */
	margin-bottom: 4px;
	/* border-radius: 26px; */
}

#workspaces button {
	border-radius: 10px;
	color: @text;
	background: @surface;
	margin-left: 4px;
	margin-right: 4px;
}

#workspaces button:hover {
	color: @text_hover;
	background: @surface_hover;
}

#workspaces button.active {
	color: @text_active;
	background: @surface_active;
}

#workspaces button.active:hover {
	color: @text_active;
	background: @surface_active_hover;
}

/* CENTER */
/* CENTER */
/* CENTER */

#window {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	color: @text;
}

/* RIGHT SIDE */
/* RIGHT SIDE */
/* RIGHT SIDE */

#tray,
#network,
#battery,
#temperature,
#backlight,
#memory,
#cpu,
#language,
#bluetooth,
#pulseaudio,
#privacy,
#clock,
#custom-wg,
#custom-notification,
#custom-powermenu {
	margin: 4px 4px 4px 4px;
	/* top right bottom left */
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	color: @text;
	background: @surface;
}

#cpu {
	margin-right: 0px;
	border-radius: 10px 0px 0px 10px;
}
#memory {
	margin-left: 0px;
	border-radius: 0px 10px 10px 0px;
}

/* #memory,  */
/* #cpu, */
/* #network, */
/* #custom-wg, */
/* #custom-powermenu { */
/* 	padding: 0px 8px 0px 8px; */
/* } */

#pulseaudio.muted {
	background: @red_soft;
}

#privacy {
	background: @yellow_soft;
}

#battery.charging,
#battery.plugged {
	background: @green_soft;
}
#battery.warning:not(.charging) {
	background: @yellow_soft;
}
#battery.critical:not(.charging) {
	background: @red_soft;
}
