* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  /*  font-family: "monospace" ; */
  /* font-weight: 600; */
  font-size: 16px;
  min-height: 20px;
  transition: none;
}

/*
#1d2021
#282828
#32302f
#3c3836
#504945
#665c54
#7c6f64

#475437
#b5cc97
#668f31
#c2d89c
#c6eb6f
#c0fc47

#8f783e
#592828
#4c1f1f
*/

@define-color bar-bg #282828;

@define-color font-main #e5e5e5;
@define-color font-hovr #f8f8f2;
@define-color font-actv #FFFFFF;

@define-color bg-main #32302f;
@define-color bg-hovr #3c3836;
@define-color bg-actv #504945;

@define-color bg-good #475447;
@define-color bg-warn #8f783e;
@define-color bg-crit #4c1f1f;

window#waybar {
  border-radius: 0px;
  background: @bar-bg;
}

tooltip {
  background: @bg-main;
  color: @font-main;
}

/* window#waybar.empty {
	background: transparent;
} */

/* LEFT SIDE */
/* LEFT SIDE */
/* LEFT SIDE */

#custom-menu {
  margin: 4px 4px 4px 4px;
  padding: 0px 11px 0px 8px;
  color: @font-main;
  background: @bg-main;
}

#workspaces {
  margin-top: 4px;
  /* margin-left: 12px; */
  margin-bottom: 4px;
  /* border-radius: 26px; */
}

#workspaces button {
  border-radius: 10px;
  color: @font-main;
  background: @bg-main;
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces button:hover {
  color: @font-hovr;
  background: @bg-hovr;
}

#workspaces button.active {
  color: @font-actv;
  background: @bg-actv;
}

/* CENTER */
/* CENTER */
/* CENTER */

#window {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: @font-main;
}

/* RIGHT SIDE */
/* RIGHT SIDE */
/* RIGHT SIDE */

#tray,
#network,
#battery,
#temperature,
#backlight,
#memory,
#cpu,
#language,
#bluetooth,
#pulseaudio,
#clock,
#custom-wg,
#custom-powermenu {
  margin: 4px 4px 4px 4px;
  /* top right bottom left */
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  color: @font-main;
  background: @bg-main;
}

#cpu,
#memory,
#network {
  padding: 0px 11px 0px 8px;
}


#custom-wg,
#custom-powermenu {
  padding: 0px 12px 0px 8px;
}

#pulseaudio.muted {
  background: @bg-crit;
}

#battery.charging,
#battery.plugged {
  background: @bg-good;
}
#battery.warning:not(.charging) {
  background: @bg-warn;
}
#battery.critical:not(.charging) {
  background: @bg-crit;
}
