* {
  /* font-family: "Monospace"; */
  font-family: "JetBrainsMono Nerd Font" ;
  border-radius: 10px;
  margin: 0px;
	outline: transparent;
	border: transparent;
}

window {
  border: 1px solid @bg-actv;
  background: @bar-bg;
}
@define-color bar-bg #282828;

@define-color font-main #e5e5e5;
@define-color font-hovr #f8f8f2;
@define-color font-actv #FFFFFF;

@define-color bg-main #32302f;
@define-color bg-hovr #3c3836;
@define-color bg-actv #504945;

#input {
  margin: 5px;
  color: @font-actv;
  background: @bg-main;
}

#inner-box {
  margin: 0px;
  background: @bg-main;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  /* color: #c5c8c6; */
  color: @font-main;
}

#entry {
  background: @bg-main;
	margin: 0px 0px 0px 0px;
}

#entry:hover {
  background: @bg-hovr;
}

#entry:selected {
  background: @bg-actv;
}

#expander-box {
  background: @bg-main;
	margin: 2px;
	padding: 3px 3px 3px 3px;
  border-radius: 12px;
}
