/* wofi imports from relative directory for some reason */
/* this is fallback colors, in case import fails */
@define-color bg0_s        #32302F;
@define-color bg0          #282828;
@define-color bg1          #3c3836;
@define-color bg2          #504945;
@define-color text         #e5e5e5;
@define-color background @bg0;
@define-color surface    @bg0_s;
@define-color surface_hover  @bg1;
@define-color surface_active @bg2;

@import ".config/wofi/colors.css";

* {
	/* font-family: "Monospace"; */
	font-family: "JetBrainsMono Nerd Font";
	border-radius: 10px;
	outline: none;
	border: none;
}

window {
	border: 1px solid @surface_active;
	background: @background;
}

#input {
	margin: 5px;
	color: @text_active;
	background: @surface;
}

#inner-box {
	margin: 0px;
	background: @surface;
}

#outer-box {
	margin: 5px;
}

#scroll {
	margin: 5px;
}

#text {
	margin: 5px;
	color: @text;
}

#entry {
	background: @surface;
	margin: 0px 0px 0px 0px;
}

#entry:hover {
	background: @surface_hover;
}

#entry:selected {
	background: @surface_active;
}

#expander-box {
	background: @surface;
	margin: 2px;
	padding: 3px 3px 3px 3px;
	border-radius: 12px;
}
