@import "colors.css";

* {
	outline-color: @bg_border;
	/*all: unset;*/
	border-radius: 10px;
	font-family: "Inter", "JetBrainsMono Nerd Font";
}

.notification-row {
	outline: none;
}

.notification-row:focus,
.notification-row:hover {
	background: #ff0000; /* idk what this affects */
}

.notification-row .notification-background {
	padding: 6px 12px;
}

.notification-row .notification-background .close-button {
	/* The notification Close Button */
	background: @bg2;
	color: @text;
	text-shadow: none;
	padding: 0;
	border-radius: 100%;
	margin-top: 5px;
	margin-right: 5px;
	box-shadow: none;
	border: none;
	min-width: 24px;
	min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
	box-shadow: none;
	background: alpha(@bg3, 0.7);
	transition: background 0.15s ease-in-out;
	border: none;
}

.notification-row .notification-background .notification {
	/* The actual notification */
	border-radius: 10px;
	border: 1px solid @surface_border;
	padding: 0;
	transition: background 0.15s ease-in-out;
	background: @surface;
}

.notification-row .notification-background .notification.low {
	/* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
	/* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
	/* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action,
.notification-row
	.notification-background
	.notification
	.notification-default-action {
	padding: 4px;
	margin: 0;
	box-shadow: none;
	background: transparent;
	border: none;
	color: @text;
	transition: background 0.15s ease-in-out;
}

.notification-row
	.notification-background
	.notification
	.notification-action:hover,
.notification-row
	.notification-background
	.notification
	.notification-default-action:hover {
	-gtk-icon-effect: none;
	background: @surface_hover;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action {
	/* The large action that also displays the notification summary and body */
	border-radius: 10px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action:not(:only-child) {
	/* When alternative actions are visible */
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content {
	background: transparent;
	border-radius: 10px;
	padding: 4px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.image {
	/* Notification Primary Image */
	-gtk-icon-effect: none;
	border-radius: 100px;
	/* Size in px */
	margin: 4px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.app-icon {
	/* Notification app icon (only visible when the primary image is set) */
	-gtk-icon-effect: none;
	-gtk-icon-shadow: 0 1px 4px black;
	margin: 6px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.text-box
	.summary {
	/* Notification summary/title */
	font-size: 20px;
	font-weight: 500;
	background: transparent;
	color: @text;
	text-shadow: none;
	margin-top: 4px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.text-box
	.time {
	/* Notification time-ago */
	font-size: 12px;
	font-weight: 400;
	background: transparent;
	color: alpha(@text, 0.8);
	text-shadow: none;
	margin-right: 32px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.text-box
	.body {
	/* Notification body */
	font-size: 15px;
	font-weight: normal;
	background: transparent;
	color: @text;
	text-shadow: none;
	margin: 8px 2px 4px 2px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	progressbar {
	/* The optional notification progress bar */
	margin-top: 4px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.body-image {
	/* The "extra" optional bottom notification image */
	margin-top: 4px;
	background-color: white;
	border-radius: 10px;
	-gtk-icon-effect: none;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.inline-reply {
	/* The inline reply section */
	margin-top: 4px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.inline-reply
	.inline-reply-entry {
	background: @background;
	color: @text;
	caret-color: @text;
	border: 0px solid @surface_border;
	border-radius: 10px;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.inline-reply
	.inline-reply-button {
	margin-left: 4px;
	background: @bg2;
	border: 0px solid @surface_border;
	border-radius: 10px;
	color: @text;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.inline-reply
	.inline-reply-button:disabled {
	background: @surface_hover;
	/*color: @text-color-disabled;*/
	border: 0px solid @surface_border;
	border-color: transparent;
}

.notification-row
	.notification-background
	.notification
	.notification-default-action
	.notification-content
	.inline-reply
	.inline-reply-button:hover {
	background: alpha(@bg3, 0.7);
}

.notification-row .notification-background .notification .notification-action {
	/* The alternative actions below the default action */
	border-top: 1px solid @surface_border;
	border-radius: 0px;
	border-right: 1px solid @surface_border;
}

.notification-row
	.notification-background
	.notification
	.notification-action:first-child {
	/* add bottom border radius to eliminate clipping */
	border-bottom-left-radius: 12px;
}

.notification-row
	.notification-background
	.notification
	.notification-action:last-child {
	border-bottom-right-radius: 12px;
	border-right: none;
}

.notification-group {
	/* Styling only for Grouped Notifications */
	background: @bg;
}

.notification-group.low {
	/* Low Priority Group */
}

.notification-group.normal {
	/* Low Priority Group */
}

.notification-group.critical {
	/* Low Priority Group */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
	margin: 0 16px;
	color: @text;
}

.notification-group .notification-group-headers {
	/* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
	color: @text;
}

.notification-group .notification-group-headers .notification-group-header {
	color: @text;
	font-size: 20px;
	font-weight: 500;
}

.notification-group .notification-group-buttons {
	/* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
	/*background-color: @surface;*/
}

.notification-group.collapsed .notification-row:not(:last-child) {
	/* Top notification in stack */
	/* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed
	.notification-row:not(:last-child)
	.notification-action,
.notification-group.collapsed
	.notification-row:not(:last-child)
	.notification-default-action {
	opacity: 0;
}

.notification-group.collapsed:hover
	.notification-row:not(:only-child)
	.notification {
	background-color: @surface_hover;
	opacity: 1;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
	background: @surface;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
	background: @surface_hover;
}

.control-center {
	/* The Control Center which contains the old notifications + widgets */
	background: @background;
	color: @text;
	border-radius: 10px;
	margin: 0;
	border: 2px solid @bg_border;
}

.control-center .control-center-list-placeholder {
	/* The placeholder when there are no notifications */
	opacity: 0.5;
}

.control-center .control-center-list {
	/* List of notifications */
	background: transparent;
}

.control-center .control-center-list .notification {
	box-shadow: none;
	/*0 0 0 1px rgba(0, 0, 0, 0.3),*/
	/*0 1px 3px 1px rgba(0, 0, 0, 0.7),*/
	/*0 2px 6px 2px rgba(0, 0, 0, 0.3);*/
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
	transition:
		opacity 400ms ease-in-out,
		background 0.15s ease-in-out;
}

.control-center
	.control-center-list
	.notification
	.notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
	background-color: @surface_hover;
}

.blank-window {
	/* Window behind control center and on all other monitors */
	background: transparent;
}

.floating-notifications {
	background: transparent;
}

.floating-notifications .notification {
	box-shadow: none;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
	color: @text;
	margin: 8px;
	font-size: 1.5rem;
}

.widget-title > button {
	font-size: initial;
	color: @text;
	text-shadow: none;
	background: @surface;
	border: 0;
	box-shadow: none;
	border-radius: 10px;
}

.widget-title > button:hover {
	background: @surface_hover;
}

/* DND widget */
.widget-dnd {
	color: @text;
	margin: 8px;
	font-size: 1.1rem;
}

.widget-dnd > switch {
	font-size: initial;
	border-radius: 10px;
	background: @surface;
	border: 0px solid @surface_border;
	box-shadow: none;
}

.widget-dnd > switch:checked {
	background: @surface_active;
}

.widget-dnd > switch slider {
	background: @surface_hover;
	border-radius: 10px;
}

/* Label widget */
.widget-label {
	margin: 8px;
}

.widget-label > label {
	font-size: 1.1rem;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
.widget-mpris {
	/* The parent to all players */
}

.widget-mpris .widget-mpris-player {
	padding: 8px;
	padding: 16px;
	margin: 16px 20px;
	background-color: @mpris-album-art-overlay;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player button:hover {
	/* The media player buttons (play, pause, next, etc...) */
	background: @surface_hover;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
	font-weight: bold;
	font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
	font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player > box > button {
	/* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
	background-color: @mpris-button-hover;
}

.widget-mpris > box > button {
	/* Change player side buttons */
	padding: 0;
	margin: 0;
	border: none;
}

.widget-mpris > box > button:disabled {
	/* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
	margin: 0 0 8px 4px;
	border-radius: 10px;
	background: @background;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
	background: @surface;
	border-radius: 10px;
	margin: 0 4px 4px 0;
	padding: 0.9rem 3rem;
	/*min-width: 60px;*/
	/*min-height: 48px;*/
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
	color: @text_hover;
	background: @surface_hover;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
	color: @text_active;
	background: @surface_active;
	/* style given to the active toggle button */
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
	color: @text_active;
	background: @surface_active_hover;
	/* style given to the active toggle button */
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
	border: none;
	background: transparent;
}

/* .AnyName { Name defined in config after #
  background-color: @surface;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @surface_hover;
} */
.topbar-buttons > button {
	/* Name defined in config after # */
	border: none;
	background: transparent;
}

progressbar,
progress,
trough {
	border-radius: 20px;
}

progressbar {
	background-color: @red;
}

trough {
}

trough highlight {
	padding: 8px; /* slider size */
	background: @surface_active;
	border: 2px solid @surface_active;
	border-radius: 20px;
}

trough slider {
	outline: none;
	border: none;
}

trough slider:hover {
}

/* Volume widget */
.widget-volume {
	background: @surface;
	padding: 8px;
	margin: 8px;
	border-radius: 10px;
}

.widget-volume > box > button {
	background: transparent;
	border: none;
}

.per-app-volume {
	padding: 4px 8px 8px 8px;
	margin: 0px 8px 8px 8px;
	border-radius: 10px;
}

.per-app-volume:hover {
	color: @red;
	background: @red;
}

.widget-volume trough {
	background: @background;
	margin: 0 8px;
}

.widget-volume trough highlight {
	background: @surface_active;
	border: unset;
}

.widget-volume button {
	padding: 0 4px;
}

/* Backlight widget */
.widget-backlight {
	background-color: @background;
	padding: 8px;
	margin: 8px;
	border-radius: 10px;
}

/* Inhibitors widget */
.widget-inhibitors {
	margin: 8px;
	font-size: 1.5rem;
}

.widget-inhibitors > button {
	font-size: initial;
	color: @text;
	text-shadow: none;
	background: @surface;
	border: 1px solid @surface_border;
	box-shadow: none;
	border-radius: 10px;
}

.widget-inhibitors > button:hover {
	background: @surface_hover;
}
